<div class="slider__warpper fade-in">
  <div class="flex__container flex--gauti flex--active" data-slide="1">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy 25th Birthday</p>
        <h2 class="text--big">Jiggy</h2>
        <div class="body-content gallery">
          <div class="box-content">
            <div class="image">
              <a href="#">
                <img src="assets/J/PotterHead.jpg" alt="fullimages" />
              </a>
            </div>
          </div>
          <div class="box-content">
            <div class="image">
              <a href="#">
                <img src="assets/J/Dancer.jpg" alt="fullimages" />
              </a>
            </div>
          </div>
          <div class="box-content">
            <div class="image">
              <a href="#">
                <img src="assets/J/HairStyle.jpg" alt="fullimages" />
              </a>
            </div>
          </div>
          <div class="box-content">
            <div class="image">
              <a href="#">
                <img src="assets/J/Gang_1.jpg" alt="fullimages" />
              </a>
            </div>
          </div>
          <div class="box-content">
            <div class="image">
              <a href="#">
                <img src="assets/J/Gang_2.jpg" alt="fullimages" />
              </a>
            </div>
          </div>
          <div class="box-content">
            <div class="image">
              <a href="#">
                <img src="assets/J/Gang_3.jpg" alt="fullimages" />
              </a>
            </div>
          </div>

          <div class="box-content">
            <div class="image">
              <a href="#">
                <img src="assets/J/Gang_4.jpg" alt="fullimages" />
              </a>
            </div>
          </div>

          <div class="box-content">
            <div class="image">
              <a href="#">
                <img src="assets/J/Gang_5.jpg" alt="fullimages" />
              </a>
            </div>
          </div>
        </div>
        <p class="text__background">The <b>"Gang"</b></p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
     <p class="quote">Age is strictly a case of mind over matter.<br/> If you don't mind, it doesn't matter 😎</p>
    </div>
  </div>

  <div class="flex__container flex--harini" data-slide="2">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy 25th</p>
        <h2 class="text--big">My love</h2>
        <p class="text--normal">
          To my favourite boi on this planet, I know you don't like celebrating
          birthdays. I know that this is just another day for you. You'll
          probably go to sleep and wake up the same time you do every day. And
          probably skip breakfast, like always XD While it might be just another
          day in your life, it is very special for me and for all the people who
          love you because this day, 25 revolutions around the sun ago, gave us
          you and I feel incredibly lucky to have you in my life. And I've never
          been more sure about myself than when I say that everyone else here
          resonates with that feeling too. I have said this a million times and
          I will say it more; you are wonderful, you are kind, you are
          unbelievably patient and all of this is beside the obvious fact that
          you are so fucking smart and brilliant. And you are so so loved by
          everyone like you have no idea. You are precious and if it were up to
          me, I would celebrate you today, tomorrow, all day every single day.
          Happy 25th, my love.
        </p>
        <p class="text__background">Harini</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/harini.jpg" />
    </div>
  </div>

  <div class="flex__container flex--gauti" data-slide="3">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Wish you a Happy 25th</p>
        <h2 class="text--big">Uncle</h2>
        <p class="text--normal">
          You are not a fossil yet!!!<br />
          It's not every day that your young man turns 25, now is it? Wishing
          you a very happy birthday my little brother.<br />
          We had each other's back for 8 years now. I wish this continues until
          we grow old with the same unspoken care and love.<br />
          You are one excepitonal species i have ever seen!!! Stay happy and
          healthy Jiggy darling.<br />

          You are one fourth of the way to 100, way to go!!!
        </p>
        <p class="text__background">Gautham</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/gauti.jpg" />
    </div>
  </div>

  <div class="flex__container flex--vidya" data-slide="4">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">Jagadeesh</h2>
        <p class="text--normal">
          Welcome to the 25+ club..<br />
          Wish you lots of life and laughter.. Hope u make a lot of lovely
          memories to fill your diary this year..<br />
          P.S. The last line reminds me.. I still have your slam book.. I'll
          return it some time soon..
        </p>
        <p class="text__background">Vidya</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/vidya.jpeg" />
    </div>
  </div>

  <div class="flex__container flex--ravi" data-slide="5">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy birthday da</p>
        <h2 class="text--big">Jiggy</h2>
        <p class="text--normal">
          You are one of the cool and geekiest person I have met. Pugalren nu
          nenaikadha. Keela padi. Hobby time la ne sangeetham practice panren ra
          perla enga kadhula ratham vara vekradha irukatum, calligraphy nu
          sollitu pudhu pudhu design jilebi podradha irukatum, archeology perla
          palaya kalla porukitu vandhu room naar adikradha irukatum, painting
          panren nu sollitu kolam podradha irukatum, machine learning and data
          science la expert a irukatum, unna adichika yarum illa da. Epdi da
          ivlo multitalented a iruka. 😂 Just kidding da I really miss our days
          in Chennai. Koodiya seekram meet pannuvom. Always keep
          Smiling(punnagai mannan in selfies), chocolate paithiyam, night
          thoongama ponnunga kuda kadala podum raja, barber shop poitu mudi
          vettamale vettiyachu nu 1000 rubai dhanam pannitu varum vallal. Once
          again many more happy returns of the day da.
        </p>
        <p class="text__background">Ravi Kishore</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/ravi.jpg" />
    </div>
  </div>

  <div class="flex__container flex--mahi" data-slide="6">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy birthday</p>
        <h2 class="text--big">Jiggy</h2>
        <p class="text--normal">
          During our days in college, I used to proudly say I don't need to be
          high to talk stupid stuff. But now, I need to be high as a fucking
          kite to talk normally! That's how life has changed for me. All our
          pictures have turned old, and us older - with balding heads (periya
          nethi - in my defence) which means we need to meet soon, and speak our
          hearts out more frequently. Let's have a party (on you) with all the
          bastards in this picture, of course, sans the boatsman who would have
          hit me with his oars if the picture was clicked a second later -
          excluding him since I am still angry at him for this, and Gautham -
          excluding this bastard for no fucking reason :p . Party hard, and
          wishing you a Happy Birthday in Lockdown
        </p>
        <p class="text__background">Mahi</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/mahi.jpg" />
    </div>
  </div>

  <div class="flex__container flex--naga" data-slide="7">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">Puvikonda vel</h2>
        <p class="text--normal">
          My deepest birthday greetings to you Jagadeesh (Puvikonda vel) on your
          25th anniversary. <br />
          Welcoming you to Silver Jubilee Anniversary!!!! <br />
          A long time ago, 25 years / 300 months/ 1304 weeks 4 days / 9,132 days
          / 2,19,168 hours / 1,31,50,080 minutes / 78,90,04,800 seconds, this
          day you were brought into this world with all blessings.<br />
          I wish you all true happiness and to be given more birthdays to
          successfully fulfill all of your dreams in all aspects of your life.
          <br />
          You are to be an inspirational fellow to the surrounding people!
        </p>
        <p class="text__background">Nagasubramaniyan</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/naga.jpeg" />
    </div>
  </div>

  <div class="flex__container flex--vikky" data-slide="8">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">saegadhi</h2>
        <p class="text--normal">
          Since u r the only play boy friend that I know, please get married
          soon. <br />
          Ligitiki nu solitu epo paru onnum puriyadha mari oru mokka book
          vangitu vandhu padika solradhu. Adhula idhu ena nu keta rendu naaliku
          gap vidama onnum puriyadha mari oru kadha solradhu.<br />
          Edho research panrea nu solitu sapadu thani illaya kaanji poi vandhu
          engala imsa Pana vendiyadhu. Bike ootrea nu solitu engala kuptu poi
          accident pana vendiyadhu. <br />
          Naalu theru thali veedu irundhalum office pona sight adikurea nu
          Saturday Sunday um anga poidurea<br />
          <br />
          After this lockdown is over we shall meet and have a party
        </p>
        <p class="text__background">Vikash the great</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/vikky.jpeg" />
    </div>
  </div>

  <div class="flex__container flex--gayu" data-slide="9">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">Professor</h2>
        <p class="text--normal">
          Wish you a very happy birthday and many more to come,
          <b><i>Professor Jagadeesh.L</i></b>
          And yes, we are celebrating you getting older😈
        </p>
        <p class="text__background">Gayatri Devi Sripada</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/gayu.jpg" />
    </div>
  </div>

  <div class="flex__container flex--uday" data-slide="10">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">Jigs</h2>
        <p class="text--normal">
          Dear Jigs, You are eccentric in your thoughts, Idiosyncratic in your
          behaviour, but u are conventional at heart when it comes to Human
          relations and You Have A Big Heart perhaps thats what matters the most
          da. I know u dont like b'days & wishes but please take mine as You
          have finished a fourth of your life. Perhaps You should Start living
          your life in the 3/4th of it by the knowledge gained in the 1/4th 😀
          Happy Bday da
        </p>
        <p class="text__background">Uday Kalyan</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/uday.jpeg" />
    </div>
  </div>

  <div class="flex__container flex--sindhu" data-slide="11">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">Jagadeesh</h2>
        <p class="text--normal"></p>
        <p class="text__background">Sindhu</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/sindhu.jpeg" />
    </div>
  </div>

  <div class="flex__container flex--dhakshi" data-slide="12">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">Jagadeesh</h2>
        <p class="text--normal"></p>
        <p class="text__background">Dhakshna</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/sindhu.jpeg" />
    </div>
  </div>

  <div class="flex__container flex--sash" data-slide="13">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">Grandpa!</h2>
        <p class="text--normal">
          They say you get wise with increase in vayasu. But hanging out with
          you made me feel much older, but never wiser! From all those crazy
          bike rides, arguing about religion while studying in a college run by
          the mutt, those fanboying moments with Harry Potter and anime,
          watching Gauty and you getting shitfaced and flying somewhere near
          Uranus (get it?), shitting on every professor in our department and
          preparing for exams together to talking on video calls and texting
          only from time to time, but never leaving the country without crashing
          with you guys for at least a few days... I so dearly wish I got those
          days from our university back (of course without the classes)! Here's
          to getting older, but never a drop wiser! Keep being the nerdy,
          nihilist self we all know and love, Jiggy. ❤
        </p>
        <p class="text__background">Sashwath</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/sash.jpg" />
    </div>
  </div>

  <div class="flex__container flex--uma" data-slide="14">
    <div class="flex__item flex__item--left">
      <div class="flex__content">
        <p class="text--sub">Happy Birthday</p>
        <h2 class="text--big">Jagadeesh</h2>
        <p class="text--normal"></p>
        <p class="text__background">Uma</p>
      </div>
    </div>
    <div class="flex__item flex__item--right">
      <img class="pokemon__img" src="assets/imgs/uma.jpeg" />
    </div>
  </div>
</div>

<div class="slider__navi" (click)="scroll()">
  <a href="#" class="slide-nav active" data-slide="1">The Gang</a>
  <a href="#" class="slide-nav" data-slide="2">Harini</a>
  <a href="#" class="slide-nav" data-slide="3">Gautham</a>
  <a href="#" class="slide-nav" data-slide="4">Vidya</a>
  <a href="#" class="slide-nav" data-slide="5">Ravi</a>
  <a href="#" class="slide-nav" data-slide="6">Mahi</a>
  <a href="#" class="slide-nav" data-slide="7">Naga</a>
  <a href="#" class="slide-nav" data-slide="8">Vikas</a>
  <a href="#" class="slide-nav" data-slide="9">Gayu</a>
  <a href="#" class="slide-nav" data-slide="10">Uday</a>
  <a href="#" class="slide-nav" data-slide="11">Sindhu</a>
  <a href="#" class="slide-nav" data-slide="12">Sash</a>
  <a href="#" class="slide-nav" data-slide="13">Dhakshi</a>
  <a href="#" class="slide-nav" data-slide="14">Uma</a>
</div>
